<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Agrupamiento de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

3. Devuelve los resultados siempre en formato de DataFrame

In [251]:
import pandas as pd

In [252]:
df = pd.read_csv("datos/df_merged.csv", index_col=0)

In [253]:
df.head(1)

,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,2.5,English/Japanese,s3624,Movie,Enter the Anime,Alex Burunova,"Kozo Morishita, Yoko Takahashi, Shinji Aramaki...","United States, Japan","August 5, 2019",2019,TV-MA,59 min,"Documentaries, International Movies",What is anime? Through deep-dives with notable...

#### Ejercicio 1: ¿Cuántos títulos hay por cada tipo de contenido ('Movie' o 'TV Show')?

In [254]:
df.groupby(by = "type")["title"].count().reset_index()

      type  title
0    Movie   6131
1  TV Show   2676

#### Ejercicio 2: ¿Cuál es el promedio de puntuación de las películas agrupadas por clasificación de audiencia ('rating')? Interpreta los resultados, ¿hay algo que te llame la atención? Explica por qué.

In [289]:
df.groupby(by = "rating")["IMDB Score"].mean().reset_index()

      rating  IMDB Score
0     66 min         NaN
1     74 min         NaN
2     84 min         NaN
3          G    6.500000
4      NC-17         NaN
5         NR         NaN
6         PG    6.800000
7      PG-13    6.386957
8          R    6.495745
9      TV-14    6.177660
10      TV-G    6.156250
11     TV-MA    6.097638
12     TV-PG    6.308772
13      TV-Y    6.780000
14     TV-Y7    6.240000
15  TV-Y7-FV         NaN
16        UR         NaN

Hay datos erróneos en la columna de los ratings, donde aparecen minutos donde no debería.

#### Ejercicio 3: ¿Cuántos títulos hay por cada país? Ordena los resultados de mayor a menor

In [256]:
df["country"].unique()

array(['United States, Japan', 'Mexico', 'Italy', 'Canada, United States',
       'India', 'Turkey', 'United States', 'South Korea', 'Indonesia',
       'Malaysia', 'United States, Mexico', 'Netherlands', 'South Africa',
       'France', 'Philippines', 'Japan', 'Germany', 'Poland',
       'France, Belgium', 'Canada', 'Mexico, Spain', 'Norway', 'Thailand',
       nan, 'Argentina', 'Belgium, United Kingdom, United States',
       'Spain', 'Hungary, United States', 'Philippines, United States',
       'Brazil', 'United Kingdom, Italy', 'United Kingdom, Germany',
       'Sweden', 'India, United Kingdom', 'Nigeria',
       'France, United States', 'Canada, United Kingdom, United States',
       'United Kingdom, United States', 'Austria',
       'United Kingdom, Japan, United States',
       'Italy, Switzerland, Albania, Poland', 'United Kingdom',
       'United States, Australia, China', 'United States, Canada',
       'Spain, Germany', 'United Arab Emirates, United States',
       'United States, Germany', 'United States, Hungary',
       'China, United States', 'United States, Denmark',
       'Canada, United States, United Kingdom', 'Mexico, United States',
       'Japan, United States', 'Sweden, United States', 'Chile',
       'Netherlands, United States',
       'United States, United Kingdom, Germany', 'Israel, United States',
       'United States, United Kingdom, Canada', 'Thailand, United States',
       'Norway, Iceland, United States', 'France, Iran, United States',
       'Denmark, United States', 'Indonesia, United States',
       'Ireland, Canada', 'Belgium, Netherlands',
       'Canada, Hungary, United States', 'India, United States',
       'Cambodia, United States', 'United Kingdom, Germany, Canada',
       'United States, Argentina', 'United Kingdom, Hungary, Australia',
       'Ireland, South Africa', 'South Korea, United States',
       'Pakistan, United States', 'Greece, United States',
       'United States, United Kingdom', 'United States,',
       'Australia, United States', 'United States, United Kingdom, India',
       'Spain, United Kingdom', 'United Kingdom, Ukraine, United States',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'Germany, Czech Republic', 'Australia',
       'United States, India, France', 'Finland',
       'China, Canada, United States',
       'South Africa, United States, Japan', 'Spain, United States',
       'Belgium', 'United States, Singapore',
       'United Kingdom, Australia, France',
       'United Kingdom, Australia, France, United States',
       'Germany, United States', 'South Africa, United States',
       'United States, Italy, France, Japan',
       'United States, Italy, Romania, United Kingdom',
       'Argentina, Venezuela', 'China, Hong Kong', 'Russia', 'Hong Kong',
       'United States, China, Hong Kong', 'Italy, United States',
       'United Kingdom, Canada, United States', ', South Korea',
       'Ireland', 'India, Nepal',
       'New Zealand, Australia, France, United States',
       'Italy, Brazil, Greece', 'Jordan', 'Colombia',
       'Belgium, United Kingdom',
       'Switzerland, United Kingdom, Australia', 'Argentina, Spain',
       'Taiwan', 'United States, Nigeria', 'Bulgaria, United States',
       'Spain, United Kingdom, United States', 'United States, China',
       'United States, France',
       'Spain, France, United Kingdom, United States',
       ', France, Algeria',
       'France, Israel, Germany, United States, United Kingdom',
       'New Zealand', 'Saudi Arabia', 'Egypt, Denmark, Germany',
       'United States, Switzerland', 'Hong Kong, Canada, United States',
       'Kuwait, United States', 'France, Canada, United States, Spain',
       'France, Netherlands, Singapore',
       'Ireland, United States, United Kingdom', 'Egypt', 'Israel',
       'Australia, New Zealand', 'South Korea, Czech Republic',
       'Australia, Germany', 'Vietnam', 'United Kingdom, Belgium',
       'United Kingdom, Australia, United States',
       'France, Japan, United States',
       'United Kingdom, Germany, Spain, United States',
       'United Kingdom, United States, France, Italy',
       'United States, Germany, Canada',
       'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, Germany, Hungary',
       'United States, New Zealand', 'China', 'Lebanon', 'Romania',
       'Finland, Germany', 'Lebanon, Syria', 'Iceland', 'Denmark',
       'United States, India', 'Philippines, Singapore, Indonesia',
       'China, United States, Canada', 'Lebanon, United Arab Emirates',
       'Canada, United States, Denmark', 'United Arab Emirates',
       'Mexico, France, Colombia', 'Germany, United States, France',
       'United States, Bulgaria',
       'United Kingdom, France, Germany, United States',
       'Norway, Denmark', 'Syria, France, Lebanon, Qatar',
       'United States, Czech Republic', 'Mauritius',
       'Canada, South Africa', 'Mexico, Brazil', 'Germany, France',
       'United Kingdom, France, Spain, United States',
       'United States, Australia',
       'United States, United Kingdom, France', 'United States, Russia',
       'United States, United Kingdom, New Zealand',
       'Australia, United Kingdom', 'Canada, Nigeria, United States',
       'France, United States, United Kingdom, Canada',
       'France, United Kingdom', 'Canada, United States, Mexico',
       'United Kingdom, Germany, United States',
       'Czech Republic, United Kingdom, United States',
       'China, United Kingdom', 'Italy, United Kingdom', 'China, Taiwan',
       'United States, Brazil, Japan, Spain, India',
       'United States, China, United Kingdom', 'Cameroon',
       'Lebanon, Palestine, Denmark, Qatar', 'Uruguay, Germany',
       'Egypt, Saudi Arabia',
       'United Kingdom, France, Poland, Germany, United States',
       'Ireland, Switzerland, United Kingdom, France, United States',
       'United Kingdom, South Africa, France',
       'Ireland, United Kingdom, France, Germany',
       'Russia, United States', 'United Kingdom, United States, France',
       'United Kingdom,', 'United States, India, United Kingdom', 'Kenya',
       'Spain, Argentina', 'India, United Kingdom, France, Qatar',
       'Belgium, France', 'Argentina, Chile', 'United States, Thailand',
       'Chile, Brazil', 'United States, Colombia', 'Uruguay',
       'Luxembourg', 'United States, Cambodia, Romania', 'Bangladesh',
       'Spain, Belgium, United States',
       'United Kingdom, United States, Australia',
       'Canada, United States, France', 'Portugal, United States',
       'Portugal, Spain', 'United Kingdom, Ireland',
       'United Kingdom, Spain, United States',
       'United States, South Korea',
       'Canada, United States, Cayman Islands', 'India, France',
       'France, Canada', 'United Kingdom, Germany, France, United States',
       'Senegal', 'France, Algeria',
       'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland',
       'Philippines, Canada, United Kingdom, United States',
       'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       'Singapore', 'Kuwait', 'United States, France, Serbia',
       'United States, Italy', 'Spain, Italy',
       'United States, Ireland, United Kingdom, India',
       'United Kingdom, Singapore', 'Hong Kong, United States',
       'United States, Malta, France, United Kingdom',
       'United States, China, Canada', 'Canada, United States, Ireland',
       'Lebanon, Canada, France', 'Japan, Canada, United States',
       'Spain, France, Canada',
       'Denmark, Singapore, Canada, United States',
       'United States, France, Denmark', 'United States, China, Colombia',
       'Spain, Thailand, United States', 'Ireland, Luxembourg, Belgium',
       'Canada, Belgium', 'Canada, United Kingdom',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'France, Belgium, Italy',
       'Lebanon, United States, United Arab Emirates', 'Lebanon, France',
       'France, Lebanon', 'France, Lebanon, United Kingdom',
       'France, Norway, Lebanon, Belgium',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'Indonesia, Netherlands', 'Turkey, South Korea',
       'Serbia, United States', 'Namibia', 'United Kingdom, Kenya',
       'United Kingdom, France, Germany, Spain',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'United States, France, Canada, Belgium', 'United Kingdom, China',
       'Germany, China, United Kingdom',
       'Australia, New Zealand, United States',
       'Hong Kong, Iceland, United States', 'France, Australia, Germany',
       'United States, Belgium, Canada, France', 'South Africa, Angola',
       'United States, Philippines',
       'United States, United Kingdom, Canada, China',
       'United States, Canada, United Kingdom', 'Turkey, United States',
       'Peru, Germany, Norway', 'Mozambique', 'Brazil, France',
       'China, Spain, South Korea, United States', 'Hong Kong, China',
       'France, Belgium, Luxembourg, Cambodia,',
       'United Kingdom, Australia', 'Belarus',
       'Indonesia, United Kingdom',
       'Switzerland, France, Belgium, United States', 'Ghana',
       'Spain, France, Canada, United States', 'Chile, Italy',
       'United Kingdom, Nigeria', 'France, Egypt', 'Egypt, France',
       'France, Brazil, Spain, Belgium', 'Egypt, Algeria',
       'Canada, South Korea, United States', 'Nigeria, United Kingdom',
       'United States, France, Canada', 'Poland, United States',
       'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
       'United States, Mexico, Spain, Malta',
       'Saudi Arabia, United Arab Emirates', 'Zimbabwe',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'Romania, United States', 'Canada, Nigeria',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'United Kingdom, Spain', 'Finland, France',
       'United Kingdom, Germany, United States, France',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'Italy, United Kingdom, France', 'United States, Mexico, Colombia',
       'Turkey, India', 'Italy, Turkey',
       'United Kingdom, United States, Japan',
       'France, Belgium, United States',
       'Puerto Rico, United States, Colombia', 'Uruguay, Argentina',
       'United States, United Kingdom, Japan', 'Ireland, United Kingdom',
       'United Kingdom, France, Belgium, Canada, United States',
       'Netherlands, Germany, Denmark, United Kingdom', 'Hungary',
       'Austria, Germany', 'Taiwan, China',
       'United Kingdom, United States, Ireland', 'Brazil, United Kingdom',
       'Romania, France, Switzerland, Germany', 'Romania, United Kingdom',
       'France, Malta, United States', 'Cyprus',
       'United Kingdom, France, Belgium, Ireland, United States',
       'United States, Norway, Canada', 'Kenya, United States',
       'France, South Korea, Japan, United States', 'Taiwan, Malaysia',
       'Uruguay, Argentina, Germany, Spain',
       'United States, United Kingdom, France, Germany, Japan',
       'United States, France, Japan',
       'United Kingdom, France, United States',
       'Spain, France, United States',
       'Indonesia, South Korea, Singapore', 'United States, Spain',
       'Netherlands, Germany, Italy, Canada',
       'Spain, Germany, Denmark, United States', 'Norway, Sweden',
       'South Korea, Canada, United States, China',
       'Argentina, Uruguay, Serbia', 'France, Japan',
       'Mauritius, South Africa', 'United States, Poland',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'India, Germany', 'India, United Kingdom, Canada, United States',
       'Romania, Bulgaria, Hungary', 'Uruguay, Guatemala',
       'France, Senegal, Belgium', 'United Kingdom, Canada',
       'Mexico, United States, Spain, Colombia', 'Canada, Norway',
       'Singapore, United States', 'Finland, Germany, Belgium',
       'United Kingdom, France', 'United States, Chile',
       'Argentina, United States, Mexico',
       'United States, South Korea, Japan', 'Canada, Australia',
       'Italy, Belgium', 'Switzerland', 'Singapore, Malaysia',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'South Africa, Nigeria', 'Spain, France',
       'United Kingdom, Hong Kong', 'Pakistan', 'Brazil, United States',
       'Denmark, Brazil, France, Portugal, Sweden', 'India, Turkey',
       'Malaysia, Singapore, Hong Kong', 'Philippines, Singapore',
       'Australia, Canada', 'Taiwan, China, France, United States',
       'Germany, Italy', 'Colombia, Peru, United Kingdom',
       'Thailand, China, United States', 'Argentina, United States',
       'Uruguay, Spain, Mexico', 'France, Luxembourg, Canada',
       'Denmark, Spain', 'Chile, Argentina',
       'United Kingdom, Belgium, Sweden', 'Canada, Brazil',
       'Italy, France', 'Canada, Germany',
       'Pakistan, United Arab Emirates', 'Ghana, United States',
       'Mexico, Finland', 'United Arab Emirates, United Kingdom, India',
       'Netherlands, Belgium', 'United States, Taiwan',
       'Austria, Iraq, United States', 'United Kingdom, Malawi',
       'Paraguay, Argentina', 'United Kingdom, Russia, United States',
       'India, Pakistan', 'Indonesia, Singapore', 'Spain, Belgium',
       'Iceland, Sweden, Belgium', 'Croatia', 'Uruguay, Argentina, Spain',
       'United Kingdom, Ireland, United States',
       'Canada, Germany, France, United States', 'United Kingdom, Japan',
       'Norway, Denmark, Netherlands, Sweden',
       'Hong Kong, China, United States',
       'Italy, Switzerland, France, Germany', 'Mexico, Netherlands',
       'United States, Sweden', 'Germany, France, Russia',
       'United Kingdom, India', 'Russia, Poland, Serbia',
       'Spain, Portugal', 'Peru', 'Mexico, Argentina',
       'United Kingdom, Canada, United States, Cayman Islands',
       'United States, Israel, United Kingdom, Canada',
       'Czech Republic, United States',
       'United Kingdom, India, United States',
       'United Kingdom, West Germany', 'India, Australia',
       'India, Germany, Austria',
       'United States, Brazil, South Korea, Mexico, Japan, Germany',
       'Spain, Mexico', 'China, Japan', 'Argentina, France',
       'China, United States, United Kingdom',
       'France, Luxembourg, United States',
       'China, United States, Australia', 'Colombia, Mexico',
       'United States, Canada, Ireland', 'Chile, Peru',
       'Argentina, Italy', 'Canada, Japan, United States',
       'United Kingdom, Canada, United States, Germany',
       'United States, Japan, Canada', 'Cambodia',
       'Italy, United States, Argentina',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'Spain, Colombia',
       'United Kingdom, South Africa, Australia, United States',
       'Bulgaria', 'Argentina, Brazil, France, Poland, Germany, Denmark',
       'United Kingdom, Spain, United States, Germany',
       'Philippines, Qatar', 'Netherlands, Belgium, Germany, Jordan',
       'Norway, Germany, Sweden', 'South Korea, China', 'Georgia',
       'Soviet Union, India', 'Australia, United Arab Emirates',
       'Canada, Germany, South Africa',
       'South Korea, China, United States', 'India, Soviet Union',
       'India, Mexico', 'Georgia, Germany, France',
       'United Arab Emirates, Romania', 'India, Malaysia',
       'Germany, Jordan, Netherlands', 'Turkey, France, Germany, Poland',
       'France, United Kingdom, United States', 'Norway, Germany',
       'France, Morocco', 'United States, Colombia, Mexico',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Argentina, Uruguay, Spain, France',
       'United Kingdom, France, United States, Belgium',
       'France, Canada, China, Cambodia',
       'United Kingdom, France, Belgium, United States', 'Chile, France',
       'France, United Kingdom, India', 'Czech Republic, Slovakia',
       'Singapore, France', 'Spain, Switzerland',
       'South Africa, United States, Germany',
       'United States, United Kingdom, Australia',
       'Spain, Italy, Argentina', 'Chile, Spain, Argentina, Germany',
       'West Germany', 'Austria, Czech Republic', 'Lebanon, Qatar',
       'United Kingdom, Jordan, Qatar, Iran',
       'France, South Korea, Japan', 'Israel, Germany, France',
       'Canada, Japan, Netherlands', 'France, Germany', 'France, Qatar',
       'Chile, United States, France', 'Belgium, France, Netherlands',
       'Germany, Australia, France, China', 'Norway, United States',
       'United States, Bermuda, Ecuador',
       'United States, Hungary, Ireland, Canada',
       'United Kingdom, Egypt, United States',
       'United States, France, United Kingdom', 'Spain, Mexico, France',
       'United States, South Africa', 'Hong Kong, China, Singapore',
       'South Africa, China, United States', 'Denmark, France, Poland',
       'New Zealand, United Kingdom',
       'Netherlands, Denmark, South Africa', 'Iran, France',
       'United Kingdom, United States, France, Germany',
       'Australia, France', 'Ireland, United Kingdom, United States',
       'United Kingdom, France, Germany', 'Canada, Luxembourg',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium', 'Canada, France',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'India, Iran', 'France, Belgium, Spain',
       'Denmark, Sweden, Israel, United States', 'United States, Iceland',
       'United Kingdom, Russia',
       'United States, Israel, Italy, South Africa',
       'Netherlands, Denmark, France, Germany', 'South Korea, Japan',
       'United Kingdom, Pakistan', 'France, New Zealand',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, India, Bangladesh',
       'United States, Canada, France', 'Brazil, France, Germany',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Taiwan, Hong Kong, United States, China', 'Germany, Australia',
       'United Kingdom, Poland, United States', 'Denmark, Zimbabwe',
       'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'South Africa, United States, New Zealand, Canada',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'France, China, Japan, United States',
       'United States, South Korea, China', 'Germany, Belgium',
       'Pakistan, Norway, United States',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'United States, Indonesia',
       'Spain, France, Italy',
       'United Arab Emirates, United States, United Kingdom',
       'United Kingdom, Israel, Russia', 'Spain, Cuba',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'Italy, Canada, France',
       'United Kingdom, Denmark, Canada, Croatia', 'Italy, Germany',

In [257]:
df["country_split"] = df["country"].str.split(", ")
df_sep_country = df.explode("country_split")
df_sep_country.groupby("country_split")["title"].count().sort_values(ascending=False).reset_index()

      country_split  title
0     United States   3689
1             India   1046
2    United Kingdom    804
3            Canada    445
4            France    393
..              ...    ...
122      Kazakhstan      1
123         Jamaica      1
124        Slovakia      1
125         Somalia      1
126       Lithuania      1

[127 rows x 2 columns]

#### Ejercicio 4: ¿Cuál es la calificación promedio en IMDb de los títulos agrupados por tipo ('Movie' o 'TV Show')?

In [258]:
print(f"Unique Score de los TV Shows: {df[df['type'] == 'TV Show']['IMDB Score'].unique()}")

df.groupby("type")["IMDB Score"].mean()

Unique Score de los TV Shows: [nan]

type
Movie      6.210916
TV Show         NaN
Name: IMDB Score, dtype: float64

Los TV Shows no tienen puntuación.

#### Ejercicio 5: ¿Cuántos títulos se añadieron a Netflix cada año? Para resolver este ejercicio tendrás uqe convertir la columna `date_added` a formato fecha usando el método `pd.to_datetime`. [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) tienes la documentación, leeala con detenimiento antes de usar el método.

In [259]:
df["date_added"] = df["date_added"].str.strip()

df["date_added"] = pd.to_datetime(df["date_added"])

df["year"] = df["date_added"].dt.year

df.groupby("year")["title"].count().sort_values(ascending=False).reset_index()

      year  title
0   2019.0   2016
1   2020.0   1879
2   2018.0   1649
3   2021.0   1498
4   2017.0   1188
5   2016.0    429
6   2015.0     82
7   2014.0     24
8   2011.0     13
9   2013.0     11
10  2012.0      3
11  2008.0      2
12  2009.0      2
13  2010.0      1

#### Ejercicio 6: ¿Cuál es el país con más títulos lanzados en el año 2020? Para resolver este ejercicio después del gropuby os puede resultar interesante el método [`idxmax`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)

In [260]:
df_sep_country["date_added"] = df_sep_country["date_added"].str.strip()

df_sep_country["date_added"] = pd.to_datetime(df_sep_country["date_added"])

df_sep_country["year"] = df_sep_country["date_added"].dt.year

In [261]:
series_top_2020 = df_sep_country[df_sep_country["year"] == 2020].groupby("country_split")["title"].count().sort_values(ascending=False)


print(f'El país con más títulos lanzados en 2020 es: {series_top_2020.idxmax()}')
series_top_2020.reset_index().head()

El país con más títulos lanzados en 2020 es: United States

    country_split  title
0   United States    828
1           India    199
2  United Kingdom    146
3          Canada    110
4          France     97

#### Ejercicio 7:¿Cuál es el promedio de puntuación en IMDb de los títulos agrupados por país?

In [271]:
## En los datos nos encontramos registros de países como "United States,", o "United Kingdom,", por lo que limpiamos las ,
df_sep_country["country_split"] = df_sep_country["country_split"].str.replace(pat = ",", repl = "")

In [264]:
## También encontramos valores vacíos resultantes del split previo, por lo que los podemos drop porque son redundantes.
df_sep_country.drop(df_sep_country[df_sep_country["country_split"] == ""].index, inplace = True, axis = 0)

In [265]:
## Comprobamos que no queden registros con país ""
df_sep_country[df_sep_country["country_split"] == ""]

Empty DataFrame
Columns: [IMDB Score, Language, show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, country_split, year]
Index: []

In [305]:
## Y así podemos calcular las medias con datos limpios
df_sep_country.groupby("country_split")["IMDB Score"].mean().sort_values(ascending=False).reset_index().round(2).head(10)

    country_split  IMDB Score
0         Ukraine        8.40
1          Greece        7.30
2        Pakistan        7.30
3        Cambodia        7.20
4         Ireland        7.15
5       Australia        6.97
6         Austria        6.85
7  United Kingdom        6.83
8            Iran        6.80
9         Iceland        6.80

#### Ejercicio 8: ¿Cuántos títulos fueron lanzados en cada año agrupados por tipo ('Movie' o 'TV Show')?

In [302]:
df.groupby(["type", "release_year"])[["title"]].count().sort_index(level = 1, ascending = False).head(10)

                      title
type    release_year
TV Show 2021            315
Movie   2021            277
TV Show 2020            436
Movie   2020            517
TV Show 2019            397
Movie   2019            633
TV Show 2018            380
Movie   2018            767
TV Show 2017            265
Movie   2017            767

#### Ejercicio 9: ¿Cuál es el país con la mayor cantidad de títulos de clasificación 'TV-MA'?

In [301]:
df_sep_country_tvma = df_sep_country[df_sep_country["rating"] == "TV-MA"]
df_sep_country_tvma.groupby("country_split")[["title"]].count().sort_values("title", ascending=False).head(10)

                title
country_split
United States    1101
India             266
United Kingdom    253
Spain             170
France            163
Canada            107
Mexico            102
Japan             101
South Korea        91
Germany            79

#### Ejercicio 10. ¿Cuál es el promedio de duración de las películas agrupadas por país?

In [342]:
df_sep_country_movies = df_sep_country[df_sep_country["type"] == "Movie"]

df_sep_country_movies["duration"] = pd.to_numeric(df_sep_country_movies["duration"].str.replace(" min", ""))

C:\Users\yanru\AppData\Local\Temp\ipykernel_3208\2122665731.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sep_country_movies["duration"] = pd.to_numeric(df_sep_country_movies["duration"].str.replace(" min", ""))

In [348]:
df_sep_country_movies.groupby("country_split")[["duration"]].mean().round(2).sort_values("duration", ascending=False).head(10)

               duration
country_split
Liechtenstein    200.00
Montenegro       157.00
Soviet Union     156.67
Morocco          147.40
Bahamas          145.00
Cameroon         143.00
Kuwait           140.50
Cambodia         137.00
Romania          135.75
Malta            135.50

#### Ejercicio 11: ¿Cuál es el número total de títulos por país y clasificación de audiencia ('rating')?

In [355]:
df_sep_country["rating"].value_counts()

rating
TV-MA       3749
TV-14       2402
R           1236
TV-PG       1002
PG-13        769
TV-Y7        431
PG           429
TV-Y         382
TV-G         244
NR           110
G             62
TV-Y7-FV       8
NC-17          5
UR             4
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

Como hemos visto previamente hay ratings que son erróneos. En este caso vamos a borrar esos 3 registros.

In [376]:
rating_vals = df_sep_country["rating"].str.contains(pat = "\d+ min", regex=True, na=False)
df_sep_country[rating_vals]

,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,country_split,year
5589,NaN,NaN,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,2017-04-04,2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi...",United States,2017.0
5818,NaN,NaN,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,2016-09-16,2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...,United States,2016.0
5833,NaN,NaN,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,2016-08-15,2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...,United States,2016.0

In [377]:
# df_sep_country.drop(df_sep_country[df_sep_country["country_split"] == ""].index, inplace = True, axis = 0)
df_sep_country.drop(df_sep_country[rating_vals].index, inplace = True, axis = 0)

Y ya conseguimos realizar el group by.

In [379]:
df_sep_country.groupby(["country_split", "rating"])[["title"]].count().sort_index(level = 0, ascending=False).head(30)

                        title
country_split rating
Zimbabwe      TV-MA         1
              TV-G          1
              NR            1
West Germany  TV-MA         3
              TV-14         1
              G             1
Vietnam       TV-MA         3
              TV-G          1
              TV-14         3
Venezuela     TV-MA         1
              TV-14         2
              NR            1
Vatican City  PG            1
Uruguay       TV-PG         2
              TV-MA         9
              TV-G          2
              TV-14         1
United States UR            1
              TV-Y7-FV      2
              TV-Y7       147
              TV-Y        127
              TV-PG       304
              TV-MA      1101
              TV-G         89
              TV-14       497
              R           660
              PG-13       433
              PG          243
              NR           43
              NC-17         1

#### Ejercicio 12: ¿Cuántos títulos fueron lanzados antes del año 2000 agrupados por país?

In [389]:
df_sep_country_2000 = df_sep_country[df_sep_country["release_year"]<2000]

df_sep_country_2000.groupby("country_split")[["title"]].count().sort_values("title", ascending=False).head(10)

                title
country_split
United States     303
India              86
United Kingdom     45
Hong Kong          33
France             25
Japan              17
Egypt              16
Canada             10
Poland             10
Australia           9

#### Ejercicio 13: ¿Cuál es la puntuación promedio en IMDb de los títulos lanzados en 2021 agrupados por país?

In [394]:
df_sep_country_2021 = df_sep_country[df_sep_country["release_year"] == 2021]
df_sep_country_2021.groupby("IMDB Score")[["title"]].count().sort_values("title", ascending = False).head(10)

            title
IMDB Score
6.7             8
7.1             5
6.6             5
6.3             5
5.7             4
6.5             4
5.4             3
5.5             3
6.2             2
4.4             2

#### Ejercicio 14: ¿Cuántos títulos fueron dirigidos por cada director? Ordena los resultados de mayor a menor

In [398]:
df.groupby("director")[["title"]].count().sort_values(by = "title",ascending=False).head(10)

                        title
director
Rajiv Chilaka              19
Raúl Campos, Jan Suter     18
Suhas Kadav                16
Marcus Raboy               16
Jay Karas                  14
Cathy Garcia-Molina        13
Jay Chapman                12
Youssef Chahine            12
Martin Scorsese            12
Steven Spielberg           11

#### Ejercicio 15: ¿Cuál es el lenguaje más frecuente en los títulos lanzados en los últimos 5 años agrupado por país?

In [412]:
df_sep_country["language_split"] = df_sep_country["Language"].str.split("/")
df_sep_language = df_sep_country.explode("language_split")

In [464]:
cond_5y = df_sep_language["release_year"].between(2020,2024, inclusive="both")
df_sep_lang_5y = df_sep_language[cond_5y]

df_loco = df_sep_lang_5y.groupby(["country_split", "language_split"])[["title"]].count().sort_values("title", ascending = False).reset_index()

display(df_loco.head(25))

     country_split language_split  title
0    United States        English    103
1            India          Hindi     20
2   United Kingdom        English     13
3           France         French     11
4            Italy        Italian     10
5        Indonesia     Indonesian      8
6            Spain        Spanish      7
7      South Korea         Korean      5
8        Argentina        Spanish      5
9           Brazil     Portuguese      5
10          Mexico        Spanish      5
11          Canada        English      4
12          Turkey        Turkish      4
13           India        English      3
14           Japan       Japanese      3
15    South Africa        English      3
16         Germany         German      3
17         Hungary        English      2
18        Thailand           Thai      2
19          Poland         Polish      2
20     Netherlands          Dutch      2
21     South Korea        English      1
22   United States         Arabic      1
23   United States         French      1
24        Thailand           Thia      1

Vemos que se repiten países. Buscamos que solo salga el top language de cada país. Para ello realizamos un nuevo groupby sobre el dataframe generado. Vamos a agrupar por países, para que se nos juntes los países, y vamos a buscar el índice con mayor title, que es el conteo de títulos. Luego con un iloc seleccionamos solo las filas donde encontramos el valor máximo del dataframe, reseteamos índices y ordenamos los valores.

In [468]:
top_languages_df = df_loco.iloc[df_loco.groupby("country_split")["title"].idxmax()].reset_index(drop=True)
top_languages_df.sort_values("title", ascending=False).head(10)

     country_split language_split  title
29   United States        English    103
10           India          Hindi     20
28  United Kingdom        English     13
7           France         French     11
12           Italy        Italian     10
11       Indonesia     Indonesian      8
24           Spain        Spanish      7
23     South Korea         Korean      5
0        Argentina        Spanish      5
15          Mexico        Spanish      5